:root {
 --backgound: black;
 --text: ghostwhite;
 --hearder: #194991;
 --orangeCard: rgb(252, 114, 51, 0.6);
 --orangeCardOP: rgb(252, 114, 51, 0);
 --orange:#fc7233;
}


body {
    background-image: url(./images/wp3594884.jpg);
    color: var(--text);
}

h2 {
    font-size: 30px;
}

.jumbotron {
    background-color: var(--orangeCardOP);
}

#cityH1 {
margin-left: 4.5%;
}

.card {
    background-color: var(--orangeCard);
    border: 1.5px solid var(--orange);
    color: var(--text);
    margin: 1%;
}

.card h1 {
    font-size: 35px;
}

/* #search {
    margin-bottom: 1%;
    align-items: center;
    background-color: var(--orangeCard);
    border: 1.5px solid var(--orange);
    color: var(--text);
} */