:root {
 --backgound: black;
 --text: ghostwhite;
 --hearder: #194991;
}


body {
    background-color: var(--backgound);
    color: var(--text);
}

.jumbotron {
    background-image: url(./images/wp3980183.jpg);
}

#cityH1 {
margin-left: 4.5%;
}

.card {
    color: var(--backgound);
    margin: 1%;
}

.card h1 {
    font-size: 35px;
}

#searchBtn {
    margin-top: 1%;
    margin-bottom: 1%;
    align-items: center;
}